<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infonaveia.wordpress-reader"
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>InfoNaVeia - Wordpress Reader</name>
    <description>
        Este aplicativo tornará o acesso às postagens do InfoNaVeia, muito mais rápido e fácil.
    </description>
    <author email="adriano@adrianomaciel.ninja" href="http://adrianomaciel.ninja">
        Adriano Maciel & InfoNaVeia
    </author>

    <!-- como não precisamos de permissões especiais para o app,
		como acesso aos contatos e coisas do tipo,
		vamos definir que não precisamos de nenhuma permissão especial,
		apenas o acesso à inernet, coisa que o cordova já adiciona automaticamente -->
    <preference name="permissions"                value="none"/>

    <!-- Personalize seu aplicativo com o elemento preference. -->
    <!-- todos: versão atual do PhoneGap / Cordova -->
    <preference name="phonegap-version"           value="3.5.0" />
    
    <!-- todos: default significa que ambas as orientações estarão disponíveis, retrato e paisagem -->
    <preference name="orientation"                value="default" />
    
    <!-- todos: valores possíveis handset, tablet ou universal -->
    <preference name="target-device"              value="universal" />

    <!-- todos: esconde a barra de status no topo do dispositivo -->
    <preference name="fullscreen"                 value="true" />

    <!-- android: MIN SDK versão suportada no device, a versão 7 refere-se ao android 1.6
         A versão máxima não é definida por padrão -->
    <preference name="android-minSdkVersion"      value="7" />

    <!-- android: local de instalação do app. 'auto' o usuário pode escolher. 
         'internalOnly' é na memória do dispositivo.
         'preferExternal' é no SDCard. -->
    <preference name="android-installLocation"    value="auto" />

    <content src="index.html" /> <!-- arquivo de 'start', onde tem a tela inicial, além da tela de splash -->
    <access origin="*" /> <!-- necessário para que o aplicativo receba dados externos, como um post back por exemplo -->

    <!-- splash screen -->
    <preference name="loadUrlTimeoutValue" value="5000" /> <!-- Aumenta o tempo limite de carregamento antes de disparar um erro, ideal para dispositivos com o hardware limitado e que demoram muito para carregar o app -->

    <preference name="SplashScreenDelay" value="5000" /> <!-- adiciona um tempo de 'espera' de cinco segundos na tela de splash, isso é útil para dispositivos com hardware limitados -->

    <preference name="SplashScreen" value="screen" /> <!-- força a exibição da tela de splash screen, caso você não tenha criado para a resolução do device que está rodando, ele irá exibir a tela padrão do phonegap -->

    <preference name="auto-hide-splash-screen" value="true" /> <!-- Define que a splash screen será removida automaticamente após o carregamento -->

    <preference name="show-splash-screen-spinner" value="true" /> <!-- Define que será exibido um spinner junto com a splash screen, as apenas se o device tiver este recurso -->

    <icon src="icon.png" /> <!-- Define o caminho o ícone padrão 'global' com 128px X 128px, o caminho é em relação à pasta www -->
    
    <!-- definições de splash screen para cada 'densidade' de resoluções android -->
    <platform name="android">
        <splash src="www/res/android/screen/land-hdpi.png" density="land-hdpi"/>
        <splash src="www/res/android/screen/land-ldpi.png" density="land-ldpi"/>
        <splash src="www/res/android/screen/land-mdpi.png" density="land-mdpi"/>
        <splash src="www/res/android/screen/land-xhdpi.png" density="land-xhdpi"/>

        <splash src="www/res/android/screen/port-hdpi.png" density="port-hdpi"/>
        <splash src="www/res/android/screen/port-ldpi.png" density="port-ldpi"/>
        <splash src="www/res/android/screen/port-mdpi.png" density="port-mdpi"/>
        <splash src="www/res/android/screen/port-xhdpi.png" density="port-xhdpi"/>

        <!-- 9-patch apenas para altas resoluções -->
        <splash src="www/res/android/screen/9-patch.9.png" density="xxhdpi"/>
        <splash src="www/res/android/screen/9-patch.9.png" density="xxxhdpi"/>
        <splash src="www/res/android/screen/9-patch.9.png" density="tvdpi"/>

        <!-- global, para todas as resoluções não definidas anteriormente -->
        <splash src="www/res/android/screen/9-patch.9.png" />
    </platform>
</widget>